extends layout/app

block page
  include chunk/header

  h1.title Главная 1!!


  img(src="img/code.jpeg",alt="Code", width=500,hiegth=500)

  ul.news
    each item in news
      li=item.name

  include chunk/footer
